<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="card">
      <div class="cont">
        <h1>Sign Up</h1>
        <form>
          <input type="text" name="fullname" placeholder="FullName" />
          <input type="text" name="email" placeholder="Email" />
          <input type="number" name="phone" placeholder="Phone Number" />
          <input type="text" name="password" placeholder="Password" />
          <input
            type="text"
            name="confirmpassword"
            placeholder="Confirm Password"
          />
          <button>Sign Up</button>
          <p>Have an account?<a href="login">Login</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
